auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    instance_addr: 127.0.0.1
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_
        period: 24h

storage_config:
  filesystem:
    directory: /loki/chunks

limits_config:
  allow_structured_metadata: true
  retention_period: 48h
  reject_old_samples: false

compactor:
  working_directory: /loki/compactor
  retention_enabled: true
  retention_delete_delay: 1h
  retention_delete_worker_count: 2
  delete_request_store: filesystem
