apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: true

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090

  - name: Pyroscope
    type: pyroscope
    access: proxy
    url: http://pyroscope:4040
